body {
    font-family: arial, verdana, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr auto;
    max-width: 1000px;
    margin: 0 auto;

    main,
    section,
    header {
        border: 1px solid black;
    }
}

header {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}

section {
    grid-column: 1/2;
    grid-row: 2/4;

    h3,
    p,
    ul {
        padding-left: 4px;
    }
}

main {
    grid-column: 2/3;
    grid-row: 2/4;

    * {
        padding: 4px;
    }

    h2,
    h3 {
        text-align: center;
        color: crimson;
    }
}

footer {
    grid-row: 4/5;
    grid-column: 1/3;
    text-align: center;
}

div > ul {
    overflow: scroll;
    max-height: 384px;
}

li {
    list-style-type: none;
    margin: 0.3rem;
}

.h2img::before {
    content: url(dev/Images/kljuchik.jpg);
}

.pimg1::before,
.pimg2::before {
    content: url(dev/Images/mark.jpg);
}

.pimg2::after {
    content: url(dev/Images/dotcom.gif);
}

.limg1::after {
    content: url(dev/Images/new.png);
}

.limg2::before {
    content: url(dev/Images/sun3.png);
}

.grad {
    border: 2px solid peachpuff;
    background-color: orange;
    width: 146px;
    border-radius: 8px;
}

.butt {
    border: 2px solid slategray;
    background-color: lightgreen;
    width: 98px;
    border-radius: 5px;
    font-size: 0.85rem;
}
